var gameover = false;
var seconds = 0.0;
var timerCountdown = function(){
    if (gameover === false ) {
        seconds += 1/60;
    }
};
var displayTimer = function(){
  fill(30,150,400);
  if(seconds >= 0 && gameover === false){
      text(seconds.toFixed(1),20,20);
  } else{
     text(seconds.toFixed(1), 350, 350);
  }
  
};
var drawingSetup = function(){
    textFont ("Arial",350);
    textAlign(LEFT,BASELINE);
};
var Enemy = {
    x: 375,
    y:random(25, 375),
    size: 15,
    speed: -5
};
var drawHero = function () {
   fill(13,20,58) ;
   ellipse(mouseX,mouseY, 30, 20) ;
};
var drawBackground = function () {
    background(250,26,55) ;
};
var drawEnemy = function () {
   fill(200,200,200) ;
   ellipse(Enemy.x,Enemy.y,Enemy.size,Enemy.size) ;
   Enemy.x += Enemy.speed;
};
var resetEnemy = function() {
    if(Enemy.x <-15) {
        Enemy.x = 385;
        Enemy.y = random(25,373);
        Enemy.size++;
        Enemy.speed -= 0.3;
    }
};
var checkCollision = function() {
   if(dist(Enemy.x, Enemy.y, mouseX, mouseY) <Enemy.size) {
       gameover = true;
       
   } 
    
};
var draw = function(){
    drawBackground();
   timerCountdown();
   displayTimer();
   drawingSetup();
    drawHero();
    drawEnemy();
    resetEnemy();
    checkCollision();
    if (gameover === true) {
        background(300,150,75);
         textSize (30);
        text ("game\nover",200,200);
        displayTimer();
        
        
      
    }
};
